<p>guardianlist works!</p>
<div class="container mt-5">
    <div class="panel panel-primary container">
        <div class="panel-heading">
            <h2 class="heading">Guardian Data</h2>
        </div>
    
        <div class="panel-body">
            <!-- <table class="table table-striped">
                <thead> -->
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>EmailId </th>
                        <th>Contanct</th>
                        <th>Relation</th>
                        <th>StudentId</th>
                        <th></th>
                        <th>Action</th>
                    </tr>
                </thead>
                
                <tr *ngFor="let g of guardian |async">
                    <td>{{g.guardian_email}}</td>
                </tr>
               
            </table>
        </div>
    </div>
    
    </div>
    
    <!--  -->
    