<section id="hero">
    <h4>Wel-Come to</h4>
    <h2>Symbiosis   Hostel</h2>
    <h1>Find the best Hostel for you</h1>
    <h3>Hostel just like your home</h3>
    <button>contact now </button>
  </section>
  
  
  <section id="product1" class="section-p1">
    <h2>Services</h2>
    <P>Experince new living style</P>
    <div class="pro-container">
    <div class="pro">
            <img src="../assets/image/bed.jpeg" alt="">
            <div class="des">
                <span>Symbiosis  Hostel</span>
                <h5>Bed</h5>
               
            </div>
        </div>
        <div class="pro">
            <img src="../assets/image/water1.jpeg" alt="">
            <div class="des">
                <span>Symbiosis  Hostel</span>
                <h5>Filter water</h5>
              
            </div>
        </div>
        <div class="pro">
            <img src="../assets/image/security.jpeg" alt="">
            <div class="des">
                <span>Aarushil Collection</span>
                <h5>Security</h5>
              
            </div>
        </div>
   
    </div>
  </section>  
  
  <section id="feature" class="section-p1">
    <h2 style="text-align: center;">Amenities</h2>
    <div class="feature-box">
    
            <div class="fe-box">
                <img src="../assets/image/geyser.jpeg" alt="" width="130" height="130">
                <h6>geyser</h6>
            </div>
    
            <div class="fe-box">
                <img src="../assets/image/iron1.jpeg" alt="" width="130" height="130">
                <h6>Iron</h6>
            </div>
            <div class="fe-box">
                <img src="../assets/image/rack_chiar.jpeg" alt="" width="130" height="130">
                <h6>Store rack , Table , Chair</h6>
            </div>
            <div class="fe-box">
                <img src="../assets/image/cupboard.jpeg" alt="" width="130" height="130">
                <h6>cupboard & Bed</h6>
            </div>
            <!-- <div class="fe-box">
                <img src="bed.jpeg" alt="" width="130" height="130">
                <h6>bed</h6>
            </div> -->
            <div class="fe-box">
                <img src="../assets/image/washing mashin.jpeg" alt="" width="130" height="130">
                <h6>washing mashin</h6>
            </div>
        </div>
        </section>
    
  <!-- <section id="banner" class="section-m1">
    <h4>repair sevices</h4>
    <h2>Up to <span>20% Off</span>- All Dress & Accessories</h2>
   <a href="about.html"> <button class="normal">Explore More</button></a>
  </section>
  
  <section id="sm-banner" class="section-p1">
    <div class="banner-box">
        <h4>we accommodate</h4>
        <h2>Working Women</h2>
        <span>Enroll now as spots are limited</span>
      <a href="contact.html"><button class="white">Contact for more Details</button></a>  
    </div>
  
    <div class="banner-box  banner-box2">
        <h4>we accommodate</h4>
        <h2>Students</h2>
        <span>The best classic sale is at crac</span>
        <a href="contact.html"><button class="white">Contact for more Details</button></a>  
    </div>
    <br>
    <br>
   
  </section> -->
  
  <section id="newsletter" class="section-p1" class="section-m1">
    <div class="newstext">
        <h4>signup for newsletter</h4>
        <p>Get email update about our latest desgin and <span>special offer</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="your email adress">
       <button class="normal">sign up</button>
    </div>
  </section>
  
  <footer class="section-p1">
    <div class="col">
        <img class="logo" src="../assets/image/logo.jpg" alt="" width="100" height="60">
        <h4>Contact</h4>
        <p><span>Address-</span> Symbiosis Bhavan, 1065 B, Chatuhshrungi Rd, Model Colony, Shivajinagar, Pune, Maharashtra</p>
        <p><span>Phone-</span> 7507290327</p>
        <!-- <p><span>Email-</span> aartilanke@gmail.com</p> -->
  
        <div class="follow">
            <h4>Follow us</h4>
            <div class="icon">
                <i class="	fa fa-instagram"></i>
                <i class="	fa fa-twitter-square"></i>
                <i class="	fa fa-facebook-official"></i>
  
  
            </div>
        </div>
    </div>
  
    <div class="col">
        <h4>About</h4>
  
        <a href="about.html">About us</a>
        <a href="rules.html">Terms and condition</a>
        <a href="contact.html">contact us</a>
    </div>
  
    <div class="col">
        <h4>My Account</h4>
  
        <a href="#">Sign in</a>
        <a href="#">Help</a>
    </div>
  
    <div class="copyright">
        <p> 2024 ,Nisha Rodge , Aarti Lanke , Usha Dongare , Mohini Gawade</p>
    </div>
  
  </footer>