
<div class="container mt-5">
    <div class="panel-heading">
        <h2 class="mb-4">Hostel Data</h2>
    </div>

    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                   
                    <th>Name </th>
                    <th>Capacity</th>
                    <th>Address</th>
                    <th>Action</th>
                   
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let h of hostel | async">
                    <!-- <td>{{h.hostel_id}}</td> -->
                    <td>{{h.hostel_name}}</td>
                    <td>{{h.hostel_capacity}}</td>
                    <td>{{h.hostel_address}}</td>
                    
                    

                    <td>
                        <button (click)="deleteStud(h.hostel_id)" class="btn btn-danger btn-sm" >Delete</button>

                        <button (click)="StudentDetails(h.hostel_id)" class="btn btn-info btn-sm" style="margin-left: 20px;">Details</button>

                        <button (click)="updateDetails(h.hostel_id)" class="btn btn-success btn-sm" style="margin-left: 10px;"> Edit </button>
                    </td>



                </tr>
            </tbody>
        </table>
    </div>
</div>